<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="../static/blog/css/class_css.css" th:href="@{/blog/css/class_css.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"th:href="@{/css/bootstrap.min.css}">
    <!--<link rel="stylesheet" href="../static/css/bootstrap-theme.css">-->
    <script src="../static/js/jQuery.js"  th:src="@{/js/jQuery.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div  th:fragment="copyright">
    © 2016 xxx
</div>
</body>
</html>